@import "../../variables";

.ModalAnswerContent {
  h4 {
		margin: 0;
		overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  p {
    margin-top: 0;
    margin-bottom: 15px;
  }

  .modal-img {
    width: 13px;
    height: 13px;
    margin-right: 5px;
  }

  .close {
    width: 14px;
		height: 14px;
		margin-left: 20px;
		cursor: pointer;
  }

  .modal-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  textarea {
    width: 100%;
    resize: none;
    border: 1px solid $disabled-gray;
    border-radius: 4px;
    padding: 7px 12px;
    font-size: 14px;
    font-family: "Nunito", sans-serif;
  }

  .options {
    margin-top: 20px;
    text-align: center;
  }
}
