@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import "./variables";

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  color: $text-gray;
  background-color: $background-gray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 29px;
  font-weight: 600;
}

h5 {
  font-size: 16px;
}

p {
  font-size: 14px;
  margin: 0;
}

a {
  color: $blue;
}

.text-center {
  text-align: center;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -7px;

  .col {
    flex: 1 0 33.333333%;
    max-width: 33.333333%;
    padding: 7px;
    box-sizing: border-box;
  }
}
