@import "../../variables";

.TextArea {
  textarea {
    width: 100%;
    resize: none;
    border: 1px solid $disabled-gray;
    border-radius: 4px;
    padding: 7px 12px;
    font-size: 14px;
    line-height: 18px;
		font-family: "Nunito", sans-serif;
		color: $text-gray;
  }
}
